*, *:before, *:after {
  -webkit-box-sizing: border-box; /* Needed for mobile WebKit */
  -moz-box-sizing: border-box; /* Needed for Firefox */
  box-sizing: border-box;

  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

html, body{
	
	color: #000000;
	background-color: #FFFFFF;

	padding: 0; margin: 0;

	font-family: 'Open Sans', sans-serif;

}

#main_wrapper{
	display: block;
	position: relative;
	width: 1920px; height: 1080px;

	background-color: rgba(0,0,0,0.1);

}



/* HEADER -- start */
	#header_wrapper{
		display: inline-block;
		position: relative;
		width: 100%; height: 110px;

		background-color: #ffffff;

		border-style: solid;
		border-width: 10px 0 0 0;
		border-color: #99cc00;

		-webkit-box-shadow: 0px 10px 0px 1px rgba(85,85,89,0.7);
		   -moz-box-shadow: 0px 10px 0px 1px rgba(85,85,89,0.7);
				box-shadow: 0px 10px 0px 1px rgba(85,85,89,0.7);

		z-index: 10;
	}
		#header_wrapper .logo {
			display: inline-block;
			position: absolute;
			top: 0px; right: 0px;

			width: 438px; height: 99px;

			background-image: url('../images/logo.png');
			background-position: 0 0;
			background-repeat: no-repeat;
			background-size: 100%;

			margin: 0 30px 0 0;
		}

	#header_button_wrapper{
		display: inline-block;
		position: relative;
		width: auto; height: 100%;

		margin: 0 0 0 88px;

	}
		#header_button_wrapper .btn{
			display: inline-block;
			position: relative;
			width: auto; height: 100%;

			white-space: nowrap;

			font-size: 22px;
			color: #00a22f;

			margin: 0 32px;
			padding: 0 20px;

			text-align: center;

			text-transform: capitalize;

			cursor: pointer;
		}

		#header_button_wrapper .btn.active{
			background-image: url('../images/btn_active_bg.png');
			background-repeat: no-repeat;
			background-position: calc(50% - 35px) 0;
			color: #99cc00;
		}
		#header_button_wrapper .btn:hover{
			color: #99cc00;
		}
		#header_button_wrapper .btn:active{
			/*background-color: #99cc00;
			color: #ffffff;
			color: #00a22f;*/
		}
			#header_button_wrapper .btn .title{
				line-height: 100px;
				letter-spacing: 3px;
			}

			#header_button_wrapper .btn i.fa{
				display: inline-block;
				position: relative;
				width: 40px; height: 40px;

				background-color: #00a22f;
				color: #ffffff;

				margin: 0 0 0 30px;

				border-radius: 4px;

				line-height: 40px;

			}
			#header_button_wrapper .btn.open i.fa{
				background-color: #99cc00;
			}
			#header_button_wrapper .btn i.fa:hover {
				color: #ffffff;
				background-color: #99cc00;
			}
			/*#header_button_wrapper .btn:active i.fa{
				color: #99cc00;
				background-color: #00a22f;
			}*/


		.dropDownMenu{
			display: none;
			position: absolute;
			top: 100px; right: 0px;

			width: 320px; height: auto;
			background-color: #ffffff;

			margin: 0 20px 0 0;
			z-index: 11;

			-webkit-box-shadow: 0 10px 0 0 rgba(85,85,89,0.7);
		   	   -moz-box-shadow: 0 10px 0 0 rgba(85,85,89,0.7);
					box-shadow: 0 10px 0 0 rgba(85,85,89,0.7);

			border-radius: 0 0 10px 10px;

			padding: 0 0 15px 0;

		}
		.open .dropDownMenu{
			display: inline-block;
		}
			.dropDownMenu .menuItem{
				display: block;
				position: relative;

				width: 100%; height: 40px;

				line-height: 40px;

				color: #898d8f;
				border-style: solid;
				border-width: 0 0 0 8px;
				border-color: transparent;

				text-align: left;
				padding: 0 28px 0 20px;

				font-size: 18px;
			}

			.dropDownMenu .menuItem:hover{
				color: #00a330;
				border-color: #99cc00;
				background-color: #f2f2f2;
			}


/* HEADER -- end */



/* FOOTER -- start */
	#footer_wrapper{

		display: inline-block;
		position: absolute;
		bottom: 0px; left: 0px;
		width: 100%; height: 40px;

		background-color: rgba(85,85,89,0.3);
		color: #ffffff;
		text-align: right;
		padding: 0 42px;
		line-height: 40px;
		font-size: 13px;
		
	}
/* FOOTER -- end */





/* CONTENT -- start */
	#content_wrapper{
		display: inline-block;
		position: absolute;
		bottom: 0px; left: 0px;
		width: 100%; height: calc(100% - 110px);

		background-image: url('../images/map.png');

		background-position: center 0;
		background-size: auto 100% ;
	}









/* CONTENT -- end */
