@-webkit-keyframes pointBounceIn {

	0%   {width: 0px;  height: 0px;  border-width: 0px; left: 0px;}

	25%  {width: 30px; height: 30px; border-width: 6px; left: 0px;}

	50%  {width: 40px; height: 40px; border-width: 8px; left:-5px;}

	75%  {width: 25px; height: 25px; border-width: 5px; left: 0px;}

	100% {width: 30px; height: 30px; border-width: 6px; left: 0px;}

}

@-webkit-keyframes keepPointOverflowHidden {

	0%   {overflow: hidden;}

	100% {overflow: default;}

}

@-webkit-keyframes pointLabelFadeIn {

	0%   {opacity: 0;}

	/*50%  {opacity: 0;}

	75%  {opacity: 1;}*/

	100% {opacity: 1;}
	
}

@-webkit-keyframes mapPointDelayFadeIn {

	0%   {opacity: 0;}

	60%  {opacity: 0;}

	100% {opacity: 1;}

}