*, *:before, *:after {
  -webkit-box-sizing: border-box; /* Needed for mobile WebKit */
  -moz-box-sizing: border-box; /* Needed for Firefox */
  box-sizing: border-box;

  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

html, body{
	
	color: #000000;
	background-color: #FFFFFF;

	padding: 0; margin: 0;

	font-family: 'Open Sans', sans-serif;

}

#main_wrapper{

	display: block;
	position: relative;
	width: 1920px; height: 1080px;

	background-color: #bbbbbb;

	overflow: hidden;

}



/* HEADER -- start */
#header_wrapper{

	display: inline-block;
	position: relative;
	width: 100%; height: 110px;

	background-color: #ffffff;

	z-index: 50;

}	
	
	#header_wrapper #logo_wrapper {

		display: inline-block;
		position: absolute;
		top: 0px; right: 0px;

		width: auto; height: 110px;


		margin: 0 40px 0 0;
		cursor: default;

	}

		#logo_wrapper .name {

			display: inline-block;
			position: relative;
			float: left;

			width: auto; height: 100%;

			line-height: 110px;
			font-size: 22px;
			color: #8B8C8D;

			text-transform: capitalize;
			letter-spacing: 3px;


		}

		#logo_wrapper .logo {

			display: inline-block;
			position: relative;
			float: left;

			width: 70px; height: 100%;

			background-image: url('../images/bp_logo.svg');
			background-position: center center;
			background-repeat: no-repeat;

			margin: 0 0 0 30px;

		}

	#header_button_wrapper{

		display: inline-block;
		position: relative;
		width: auto; height: 100%;

		margin: 0 0 0 0px;

	}
		#header_button_wrapper .btn{

			display: inline-block;
			position: relative;
			width: auto; height: 100%;
			float: left;
			white-space: nowrap;

			font-size: 22px;
			color: #00a22f;

			border-width: 0;

			margin: 0;
			padding: 0;

			text-align: center;

			text-transform: capitalize;

			cursor: pointer;

		}

			#header_button_wrapper .btn .title{

				display: inline-block;
				position: relative;

				width: auto; height: 110px;

				line-height: 90px;
				letter-spacing: 3px;
				padding: 0 110px 0 40px;

				border-style: solid;
				border-width: 10px 0 0 0;
				border-color: transparent;

			}
			#header_button_wrapper .btn .title:hover{

				background-color: #f7f8f8;
				border-color: #f7f8f8;

			}
			#header_button_wrapper .btn.active .title{

				background-color: #eceded;
				border-color: #00a22f;
				cursor: default;

			}
			#header_button_wrapper .btn.active .title:hover{

				color: #00a22f;

			}

			#header_button_wrapper .btn .icon{

				display: inline-block;
				position: absolute;
				top: 35px; right: 40px;
				width: 40px; height: 40px;

				background-color: #00a22f;
				color: #ffffff;

				margin: 0 0 0 0;

				border-radius: 4px;
				line-height: 38px;

				cursor: pointer;

				background-image: url('../images/icon_arrow_down.svg');
				background-size: 100% 100%;
				background-position: center center; 

				-webkit-transition: all cubic-bezier(.62,.28,.23,.99) 0.2s;
				   -moz-transition: all cubic-bezier(.62,.28,.23,.99) 0.2s;
					-ms-transition: all cubic-bezier(.62,.28,.23,.99) 0.2s;
					 -o-transition: all cubic-bezier(.62,.28,.23,.99) 0.2s;
						transition: all cubic-bezier(.62,.28,.23,.99) 0.2s;

			}
			#header_button_wrapper .btn.open .icon{

				background-color: #99cc00;
				background-image: url('../images/icon_arrow_up.svg');

			}
			#header_button_wrapper .btn .icon:hover {

				color: #ffffff;
				background-color: #99cc00;

			}


		.dropDownMenu{
			display: inline-block;
			position: absolute;
			top: 100px; right: 0px;

			width: 100%; height: 0px;

			margin: 0 0 0 0;
			z-index: 40;

			overflow: hidden;

		}

			.dropDownMenu::after{
				content: ' ';
				display: block;
				position: relative;
				width: 100%; height: 15px;

				background-color: #ffffff;

				-webkit-box-shadow: 0 10px 0 0 rgba(85,85,89,0.7);
				   -moz-box-shadow: 0 10px 0 0 rgba(85,85,89,0.7);
						box-shadow: 0 10px 0 0 rgba(85,85,89,0.7);

				border-radius: 0 0 10px 10px;

				padding: 0 0 15px 0;
				margin: 0 0 10px 0;
			}

			.dropDownMenu .menuItem{
				display: block;
				position: relative;

				width: 100%; height: 40px;

				line-height: 40px;

				background-color: #ffffff;

				color: #898d8f;
				border-style: solid;
				border-width: 0 0 0 8px;
				border-color: transparent;

				text-align: left;
				padding: 0 28px 0 20px;

				font-size: 18px;

				cursor: pointer;

			}
			.dropDownMenu .menuItem:hover{
				color: #00a330;
				border-color: #f2f2f2;
				background-color: #f2f2f2;
			}
			.dropDownMenu .menuItem.active{
				color: #00a330;
				border-color: #99cc00;
				background-color: #f2f2f2;
			}

			


/* HEADER -- end */



/* FOOTER -- start */
	#footer_wrapper{

		display: inline-block;
		position: absolute;
		bottom: -40px; left: 0px;
		width: 100%; height: 40px;

		background-color: rgba(85,85,89,0.3);
		color: #ffffff;
		text-align: right;
		padding: 0 42px;
		line-height: 40px;
		font-size: 13px;

		opacity: 0;
		
		-webkit-transition: all cubic-bezier(.62,.28,.23,.99) 0.7s;
		   -moz-transition: all cubic-bezier(.62,.28,.23,.99) 0.7s;
			-ms-transition: all cubic-bezier(.62,.28,.23,.99) 0.7s;
			 -o-transition: all cubic-bezier(.62,.28,.23,.99) 0.7s;
				transition: all cubic-bezier(.62,.28,.23,.99) 0.7s;
	}
	#footer_wrapper.on{

		bottom: 0px;
		opacity: 1;

	}
/* FOOTER -- end */





/* CONTENT -- start */
#content_wrapper{

	display: inline-block;
	position: absolute;
	top: 110px; left: 0px;
	width: 100%; height: calc(100% - 110px);

}

#map_wrapper{

	display: inline-block;
	position: absolute;
	top: 0px; left: 0px;
	width: 100%; height: 100%;

	-webkit-transition: top 0.5s, left 0.5s;
	   -moz-transition: top 0.5s, left 0.5s;
		-ms-transition: top 0.5s, left 0.5s;
		 -o-transition: top 0.5s, left 0.5s;
			transition: top 0.5s, left 0.5s;

}

	#map_content_wrapper{

		display: inline-block;
		position: absolute;
		top: 0px; left: -1920px;
		width: 5760px; height: 100%;

	}

		#mapImage{

			display: inline-block;
			position: absolute;
			top: 0px; left: 0px;
			width: 100%; height: 150%;

			background-color: #fefefe;
			background-image: url('../images/map.jpg');

			background-position: center 0;
			background-size: auto 970px;
			background-repeat: repeat-x;

		}

		#mapPoints{

			display: inline-block;
			position: absolute;
			bottom: 0px; left: 1920px;
			width: 1920px; height: 100%;

			background-color: transparent;

		}
			
			@-webkit-keyframes pointBounceIn {

				0%   {width: 0px;  height: 0px;  border-width: 0px; left: 0px;}

				25%  {width: 30px; height: 30px; border-width: 6px; left: 0px;}

				50%  {width: 40px; height: 40px; border-width: 8px; left:-5px;}

				75%  {width: 25px; height: 25px; border-width: 5px; left: 0px;}

				100% {width: 30px; height: 30px; border-width: 6px; left: 0px;}

			}

			.mapPoint{

				display: block;
				position: absolute;
				top:0px; left:0px;

				width: 30px; height: 30px;
				border-radius: 30px;

				text-align: center;
				cursor: pointer;


			}
			.mapPoint.hide{

				display: none;

			}



				.mapPoint .point{

					display: inline-block;
					position: absolute;
					top: 0; left: 0; bottom: 0; right: 0;
					overflow: auto;
					margin: auto;

					width: 30px; height: 30px;
					background-color: #00a22f;

					border-radius: 30px;
					border-style: solid;
					border-width: 6px;
					border-color: #99cc00;


					-webkit-animation: pointBounceIn .5s 1;

				}

			.mapPoint.open{

				cursor: default;
				z-index: 15;

			}

				@-webkit-keyframes pointLabelFadeIn {
					0%   {opacity: 0;}

					/*50%  {opacity: 0;}

					75%  {opacity: 1;}*/

					100% {opacity: 1;}
				}

				.mapPoint .label_wrapper{
					/*display: inline-block;
					position: absolute;

					width: auto; height: auto;

					left: 15px; top: -40px;

					white-space: nowrap;*/

					/*-webkit-animation: pointLabelFadeIn 1s 1;*/


					/*-webkit-transition: opacity cubic-brezier(.62,.28,.23,.99) 0.7s;
					   -moz-transition: opacity cubic-brezier(.62,.28,.23,.99) 0.7s;
						-ms-transition: opacity cubic-brezier(.62,.28,.23,.99) 0.7s;
						 -o-transition: opacity cubic-brezier(.62,.28,.23,.99) 0.7s;
							transition: opacity cubic-brezier(.62,.28,.23,.99) 0.7s;*/


					-webkit-transition: opacity 0.5s;
					   -moz-transition: opacity 0.5s;
						-ms-transition: opacity 0.5s;
						 -o-transition: opacity 0.5s;
							transition: opacity 0.5s;


				}
				.mapPoint .label_wrapper.hide{
					opacity: 0;
				}

					.mapPoint .arrow{
						display: inline-block;
						position: absolute;

						left: 15px; top: -40px;

						width: 21px; height: 55px;

						background-image: url('../images/mapPointArrow_right.png');
						background-size: 100% 100%;

						-webkit-transition: all cubic-bezier(.62,.28,.23,.99) 0.7s;
						   -moz-transition: all cubic-bezier(.62,.28,.23,.99) 0.7s;
							-ms-transition: all cubic-bezier(.62,.28,.23,.99) 0.7s;
							 -o-transition: all cubic-bezier(.62,.28,.23,.99) 0.7s;
								transition: all cubic-bezier(.62,.28,.23,.99) 0.7s;

					}
					.mapPoint.left .arrow{
						left: initial;
						right: 15px;

						background-image: url('../images/mapPointArrow_left.png');
					}



					.mapPoint.open .arrow{
						top: -125px;
						height: 140px;
						width: 30px;

						background-image: url('../images/mapPointArrowOpen_right.png');
					}

					.mapPoint.left.open .arrow{
						top: -125px;
						height: 140px;
						width: 30px;

						background-image: url('../images/mapPointArrowOpen_left.png');
					}

					.mapPoint .label{

						display:inline-block;
						position: absolute;

						left: 36px; top: -40px;
						width: auto; height: 37px;

						line-height: 36px;
						padding: 0 12px;

						font-weight: 300;

						vertical-align:middle;
						text-align:left;

						background-color: rgba(85,85,89,0.7);
						color: #ffffff;

						overflow: hidden;

						/*-webkit-transition: all 0.5s;
						   -moz-transition: all 0.5s;
							-ms-transition: all 0.5s;
							 -o-transition: all 0.5s;
								transition: all 0.5s;*/

						-webkit-transition: all cubic-bezier(.62,.28,.23,.99) 0.7s;
						   -moz-transition: all cubic-bezier(.62,.28,.23,.99) 0.7s;
							-ms-transition: all cubic-bezier(.62,.28,.23,.99) 0.7s;
							 -o-transition: all cubic-bezier(.62,.28,.23,.99) 0.7s;
								transition: all cubic-bezier(.62,.28,.23,.99) 0.7s;

						/*-webkit-animation: pointLabelFadeIn 1s 1;*/


					}
					.mapPoint.left .label{
						left: initial;
						right: 36px;
					}


					.mapPoint.open .label{
						left: 45px; top: -125px;

						width: 1160px !important; height: 106px;

						background-color: #00a22f;

						border-radius: 5px 5px 0 0;

						z-index: 20;

						padding: 15px 20px 0 20px;

					}

					.mapPoint.left.open .label{
						left: initial;
						right: 45px; top: -125px;

						width: 1160px !important; height: 106px;

						background-color: #00a22f;

						border-radius: 5px 5px 0 0;

						z-index: 20;
					}

						.mapPoint .label .title{

							display: inline-block;
							position: relative;

							width: auto; height: auto;
							float: left;

							color: #ffffff;
							font-size: 18px;
							letter-spacing: 1px;
							-webkit-transition: all cubic-bezier(.62,.28,.23,.99) 0.7s;
							   -moz-transition: all cubic-bezier(.62,.28,.23,.99) 0.7s;
								-ms-transition: all cubic-bezier(.62,.28,.23,.99) 0.7s;
								 -o-transition: all cubic-bezier(.62,.28,.23,.99) 0.7s;
									transition: all cubic-bezier(.62,.28,.23,.99) 0.7s;

							white-space: nowrap;


						}
						.mapPoint.open .label .title{

							color: #ffe300;
							font-size: 24px;
							font-weight: 300;
							line-height: 20px;

						}

						.mapPoint .label .close{
							display: block;
							position: absolute;
							right: 15px; top: 15px;
							width: 0px; height: 0px;

							border-radius: 6px;
							background-color: rgba(85,85,89,0.7);
							opacity: 0;

							background-image: url('../images/icon_close.svg');
							background-size: 100% 100%;
							background-position: center center;

							cursor: pointer;
							-webkit-transition: all cubic-bezier(.62,.28,.23,.99) 0.25s;
							   -moz-transition: all cubic-bezier(.62,.28,.23,.99) 0.25s;
								-ms-transition: all cubic-bezier(.62,.28,.23,.99) 0.25s;
								 -o-transition: all cubic-bezier(.62,.28,.23,.99) 0.25s;
									transition: all cubic-bezier(.62,.28,.23,.99) 0.25s;
						}
						.mapPoint.open .label .close{
							width: 40px; height: 40px;
							background-color: #99CC00;
							background-color: rgba(153,204,0,1);
							opacity: 1;

							-webkit-animation: mapPointDelayFadeIn 1s 1;
						}
						.mapPoint .label .close:hover{
							
							background-color: rgba(153,204,0,0.9);

						}
						.mapPoint .label .close:active{
							
							background-color: rgba(153,204,0,0.75);

						}

						@-webkit-keyframes mapPointDelayFadeIn {

							0%   {opacity: 0;}

							60%  {opacity: 0;}

							100% {opacity: 1;}

						}

						.mapPoint .label .description{

							display: block;
							position: absolute;
							top: 35px;

							width: 490px; height: 0px;

							opacity: 0;

							letter-spacing: 1px;
							line-height: 18px;
							font-size: 14px;
							font-weight: 300;
							overflow: hidden;

							-webkit-transition: all cubic-bezier(.62,.28,.23,.99) 0.25s;
							   -moz-transition: all cubic-bezier(.62,.28,.23,.99) 0.25s;
								-ms-transition: all cubic-bezier(.62,.28,.23,.99) 0.25s;
								 -o-transition: all cubic-bezier(.62,.28,.23,.99) 0.25s;
									transition: all cubic-bezier(.62,.28,.23,.99) 0.25s;


						}
						.mapPoint.open .label .description{

							height: 54px;
							margin: 5px 0 0 0;
							opacity: 1;

							-webkit-animation: mapPointDelayFadeIn 1s 1;

						}





					.mapPoint .listGroup{

						display: block;
						position: absolute;
						left: 45px; top: -19px;

						width: 1160px; height: 0px;

						/*overflow: hidden;*/
						/*z-index: 20;*/

					}
					.mapPoint.left .listGroup{
						
						left: initial;
						right: 45px;
						
					}
						.mapPoint .listGroup .list{

							display: block;
							position: relative;
							float: left;

							width: 50%;
							height: 0;

							padding: 0 0 0 0;

							background-color: #ffffff;

							border-radius: 0 0 7px 7px;

							overflow: hidden;

							-webkit-transition: border-radius 0.33s;
							   -moz-transition: border-radius 0.33s;
								-ms-transition: border-radius 0.33s;
								 -o-transition: border-radius 0.33s;
									transition: border-radius 0.33s;

						}
						.mapPoint .listGroup .list.list_0.short{
							border-radius: 0 0 0 7px;
						}
						.mapPoint .listGroup .list.list_1{
							float: right;
						}
						.mapPoint .listGroup .list.list_1.short{
							float: right;
							border-radius: 0 0 7px 0;
						}

							.mapPoint.open .listGroup .list .grip{

								display: inline-block;
								position: relative;
								width: 100%; height: 10px;
								float: left;

							}

							.mapPoint .listGroup .list .category{

								display: inline-block;
								position: relative;
								width: 100%; height: auto;
								float: left;

								margin: 8px 0 0 0;
								padding: 0 10px 0 0;

							}
								.mapPoint .listGroup .list .category .title{

									display: inline-block;
									position: relative;
									width: 100%; height: 50px;

									background-color: #ebeef4;

									line-height: 50px;

									border-style: solid;
									border-width: 0 0 0 24px;
									padding: 0 12px;

									color: #909396;

									text-align: left;
									font-size: 22px;

									cursor: pointer;

								}

									.mapPoint .listGroup .list .category .toggle{

										display: inline-block;
										position: absolute;
										top: 5px; right: 15px;

										width: 40px; height: 40px;

										border-radius: 6px;

										background-color: #898d8f;

										background-image: url('../images/icon_max.svg');
										background-size: 100% 100%;
										background-position: center center;

										cursor: pointer;

									}
									.mapPoint .listGroup .list .category.open .toggle{
										background-image: url('../images/icon_min.svg');
									}

								.mapPoint .listGroup .list .category .techs{

									display: block;
									position: relative;
									width: 100%; height: 0;

									background-color: #ffffff;

									border-style: solid;
									border-width: 0 0 0 10px;
									padding: 0 0 0 14px;

									-webkit-transition: all cubic-bezier(.62,.28,.23,.99) 0.7s;
									   -moz-transition: all cubic-bezier(.62,.28,.23,.99) 0.7s;
										-ms-transition: all cubic-bezier(.62,.28,.23,.99) 0.7s;
										 -o-transition: all cubic-bezier(.62,.28,.23,.99) 0.7s;
											transition: all cubic-bezier(.62,.28,.23,.99) 0.7s;
									overflow: hidden;

								}
								/*.mapPoint .listGroup .list .category.open .techs{
									height: auto;
								}*/
									.mapPoint .tech{
										display: inline-block;
										position: relative;
										width: 100%; height: 30px;

										text-align: left;

										padding: 0 0 0 20px;

										border-style: solid;
										border-width: 2px 0 0 0;
										border-color: #ebeef4;

										line-height: 30px;

										color: #898d8f;

									}	
										.mapPoint .tech.head{
											color: #a7d322;
											border-color: #ffffff;
											font-weight: 700;
										}

										.mapPoint .tech .name{
											display: inline-block;
											position: relative;
											float: left;

											width: 60%; height: 100%;
											text-align: left;
										}

										.mapPoint .tech .status{
											display: inline-block;
											position: relative;
											float: left;

											width: 40%; height: 100%;
											text-align: left;
										}


				



			.mapPoint#alaska{
				top: 100px; left: 110px;
			}

			.mapPoint#canada{
				top: 180px; left: 380px;
			}

			.mapPoint#northAmerica{
				top: 260px; left: 360px;
			}

			.mapPoint#gulfOfMexico{
				top: 350px; left: 440px;
			}

			.mapPoint#trinidad{
				top: 410px; left: 610px;
			}

			.mapPoint#brazil{
				top: 585px; left: 715px;
			}

			.mapPoint#northSea{
				top: 170px; left: 950px;
			}

			.mapPoint#norway{
				top: 140px; left: 990px;
			}

			.mapPoint#algeria{
				top: 330px; left: 970px;
			}

			.mapPoint#angola{
				top: 530px; left: 1035px;
			}

			.mapPoint#egypt{
				top: 310px; left: 1110px;
			}

			.mapPoint#iraq{
				top: 300px; left: 1190px;
			}

			.mapPoint#azerbaijan{
				top: 255px; left: 1205px;
			}

			.mapPoint#oman{
				top: 360px; left: 1250px;
			}

			.mapPoint#indonesia{
				top: 510px; left: 1550px;
			}



#intro_wrapper{

	display: inline-block;
	position: absolute;
	top: 0px; left: 0px;
	width: 100%; height: 100%;

	text-align: center;

}

	#intro_wrapper .title{

		display: inline-block;
		position: relative;
		width: 1320px; height: 64px;

		line-height: 64px;
		font-weight: 300;
		font-size: 33px;
		color: #ffffff;

		background-color: rgba(0, 163, 48, 0.7);

		margin: 40px 0 0 0;

	}

	#intro_wrapper .video{

		display: inline-block;
		position: relative;
		width: 1320px; height: 742px;

		line-height: 64px;
		font-weight: 300;
		font-size: 33px;
		color: #ffffff;

		margin: 15px 0 0 0;

		/*border-style: solid;
		border-width: 10px;
		border-color: #3d5974;*/

		background-image: url('../images/video_placeholder.png');
		background-size: 100% 100%;
		background-repeat: no-repeat;

		cursor: pointer;

	}


/* CONTENT -- end */
